########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

# Set XDG directories
XDG_CONFIG_HOME=${HOME}/.config
export XDG_CONFIG_HOME

XDG_CACHE_HOME=${HOME}/.cache
export XDG_CACHE_HOME

XDG_DATA_HOME=${HOME}/.local/share
export XDG_DATA_HOME
