########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

[user]
	name = {{ git.config.user.name }}
	email = {{ git.config.user.email }}
[core]
	excludesFile = {{ git.config.core.excludes_file }}
[color]
	ui = true
[merge]
	tool = vimdiff
	conflictstype = diff3
[mergetool]
	path = nvim
[diff]
	tool = vimdiff3
[difftool "vimdiff3"]
	path = nvim
[mergetool "vimdiff3"]
	path = nvim
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[mergetool "vimdiff"]
	path = nvim
[pull]
	rebase = false
