########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

# Press ESC v to edit your command in your $EDITOR.
autoload edit-command-line; zle -N edit-command-line
bindkey -M vicmd v edit-command-line
