########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

# Enable autocompletion
autoload -Uz compinit
compinit

source <(antibody init)
antibody bundle < "{{ zsh.zdotdir }}/{{ zsh.plugins_file }}"

for file in {{ zsh.zdotdir }}/{{ zsh.rc_includes_dir }}/*; do
    source "$file"
done
